<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fkWrong! index page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
      
    <div class="page">
      <div class="content">
        <h1 class="title">
          Welcome to<br />
          fkWrong!
        </h1>
        <div class="buttons">
          <a href="/scan"><button class="nav-button">扫描作业</button></a>
          <a href="/find"><button class="nav-button">寻找作业</button></a>
          <a href="/wrong"><button class="nav-button">错题本</button></a>
          <a href="/tests"><button class="nav-button">考试信息</button></a>
          <a href="/diary"><button class="nav-button">手记</button></a>
          <a href="/settings"><button class="nav-button">设置</button></a>
        </div>
          <marquee
          behavior="scroll"
          direction="left"
          scrollamount="10"
          class="marquee"
          ><br /><br />{{rolling_message}}</marquee>
      </div>
    </div>
  </body>
</html>