<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错题标注页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/labelling.css">
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">-->
</head>
<body>
<canvas id="canvas" width="500" height="800"></canvas>
<!--<script src="{{ url_for('static', filename='js/labelling.js') }}"></script>-->
<script src="../static/js/labelling.js"></script>
</body>
</html>