<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错题标注页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/labelling.css">
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">-->
</head>
<body>
<canvas id="canvas" width="500" height="800"></canvas>
<div id="settings">
    <p>合并错题框</p>
    <label for="first">第一个框体编号</label>
    <textarea placeholder="不需要输入#，例如：#1 -> 1" id="first"></textarea>
    <br>
    <label for="second">第一个框体编号</label>
    <textarea placeholder="不需要输入#，例如：#1 -> 1" id="second"></textarea>
    <br>
    <button onClick="">合并 / Merge</button>
    <p>请注意，合并之后，任何框体的编号不会变化，<br>只是起到为程序标注的作用。</p>
</div>
<!--<script src="{{ url_for('static', filename='js/labelling.js') }}"></script>-->
<script src="../static/js/labelling.js"></script>
</body>
</html>