<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <title>fkWrong!-主页</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
<div class="drag-container" onselectstart="return false;" id="scanWin" style="display:none; position:fixed; top:500px; left:500px; z-index:4444; cursor:move;background-color: #0066ffa4;">
  <div id="scan_window" style="text-align: center;font-size: 24px;height: 30px;color: #FFFFFF;background-color: #8f36f4;">
    <strong>文件扫描</strong>
    <button id="closeScanWin" style="float: right;background-color: #f44336;color: white;border: none;height:30px;width:40px;cursor: pointer;">X</button>
  </div>
  <iframe
    id="scanWindow"
    title="文件扫描"
    width="700"
    height="353"
    src="/scanWindow"
    style="pointer-events:auto; user-select:none;">
  </iframe>
</div>

<div class="container">
  <table id="main_table" width="1096" border="3">
    <tr>
      <th height="138" colspan="2" scope="col">
        <img src="{{ url_for('static', filename='picture/fkWrong.png') }}" style="width:100%;height:158px;" />
      </th>
    </tr>
    <tr>
      <th width="168" scope="row">===快速开始===</th>
      <td id="toolBar"><strong>这里是工具栏，选择一项功能以开始……</strong></td>
    </tr>
    <tr>
      <th scope="row">错题本&gt;</th>
      <td width="1024" align="center" id="main_ui" rowspan="6">
        {{ main_ui | safe }}
      </td>
    </tr>
    <tr>
      <th scope="row">寻找作业&gt;</th>
    </tr>
    <tr>
      <th scope="row">考试信息&gt;</th>
    </tr>
    <tr>
      <th scope="row" id="scanButton">文件扫描&gt;</th>
    </tr>
    <tr>
      <th scope="row" id="settingsButton">设置&gt;</th>
    </tr>
    <tr>
      <th style="height: 277px !important;" scope="row">&nbsp;</th>
    </tr>
  </table>
</div>
<script src="{{ url_for('static', filename='js/drag_window.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>